.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.custom-div-valor {
  text-align: right;
}

.custom-div-pagination {
  text-align: center;
}

#flex {
  display: flex;
  flex-flow: row wrap;
}


.item {
  width: 100px;
  height: 100px;
  text-align: center;
  font-weight: 500;
  padding-left: 2px;
  padding-right: 2px;
  border-style: solid;
}