.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.custom-container {
  padding-left: 0px;
  margin-left: 20px;
  padding-right: 0px;
  margin-right: 20px;
  max-width: fit-content;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.custom-div-valor {
  text-align: right;
}

.custom-div-pagination {
  text-align: center;
}

.titulo-central {
  text-align: center;
}

.custom-botao-tamanho {
  width: 200px;
}

.custom-select-label {
  margin-left: 15px;
}

.custom-label-tipo {
  vertical-align: bottom;
}

.expresso {
  z-index: 2;
  background-color: #00ff48;
  border-color: #00ff48;
}

.milk {
  z-index: 2;
  background-color: #ffdd00;
  border-color: #ffdd00;
}