.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.custom-div-valor {
  text-align: right;
}

.custom-div-pagination {
  text-align: center;
}

#flex {
  display: flex;
  flex-flow: row wrap;
  width: 450px;
}
.item {
  width: 80px;
}